.link {
  color: black;
  margin: 1rem;
  /* padding: 1rem; */
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: papayawhip;
  background-color: rgb(30, 30, 30);
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0.5rem;
}

.link:active {
  background: #fff;
  color: black;
}
